<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog Webpage</title>
</head>
<header class="header">
	<nav class="header_nav">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/post">Post</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
		</ul>
	</nav>
</header>