<%- include("partials/header.ejs") %>
<body>
	<h1>Welcome to Blog App!</h1>
	<!-- <section class="articles">
		<h2>List Post</h2>
		<ul>
			<li>
				<a href="#"></a>
					<span></span>
			</li>
		</ul>
	</section> -->


</body>
</html>

<%- include("partials/footer.ejs") %>